#pie{
	color: white;
	display: flex;
	background: black;
}

body{
	margin: 0;
	padding: 0;
	background: #f3de8a;
	font-family: Roboto Mono, Arial;
	font-size: 12pt
}
.peli_1{
	width: 400px;
	flex-wrap: wrap;
}

.peli_2{
	width: 400px;
	flex-wrap: wrap;
}

.peli_3{
	width: 400px;
	flex-wrap: wrap;
}

.peli_4{
	width: 400px;
	flex-wrap: wrap;
}

.peli_5{
	width: 400px;
	flex-wrap: wrap;
}

.tablas img{
	flex-basis: 20%;
	flex-wrap: wrap;
}

.vid{
	width: 400px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap');

.derechos{
	text-align: left;
	padding: 9px 10px
}

.iconos{
	text-align: right;
	font-size: 30px;
	justify-content: space-between;
	padding-right: 80px; 
}

a:link{
	color: white;
text-decoration: none;
}

a:visited{
text-decoration: none;
color: white;
}

.img_lennon{
	width: 250px;
}

.img_paul{
	width: 250px;
}

.img_harrison{
	width: 180px;
}

.img_ringo{
	width: 250px;
}

@keyframes imgs{
	0%{border-radius: 0;}
	100%{border-radius: 40px;}
}

.img_lennon:hover{
	border-radius: 40px;
	animation-name: imgs;
	animation-duration: 1s;
}

.img_paul:hover{
	border-radius: 40px;
	animation-name: imgs;
	animation-duration: 1s;
}

.img_harrison:hover{
	border-radius: 40px;
	animation-name: imgs;
	animation-duration: 1s;
}

.img_ringo:hover{
	border-radius: 40px;
	animation-name: imgs;
	animation-duration: 1s;
}

.pelis{
	margin-top: 20px
}

.dlogo{
	width: 20%;
}

.logo{
	width: 140px;
}

nav > ul > li{
	list-style: none;
	text-align: center;
	padding-right: 110px;
	flex-basis: 7%;
}

.menu2{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1em;	
}

.menu{
	width: 100%;
	display: flex;
	background-color: black;
	font-family: Prociono, Arial;
	font-size: 14pt;
}

@keyframes menu{
	0%{font-size: 14pt; color: #fed136};
	25%{color: #fed136};
	75%{color: #fed136};
	100%{font-size: 16pt; color: #fed136};
	background-color: black;
}

.integrantes:hover{
	font-size: 16pt;
	transform-origin: bottom, top;
	color: #fed136;
}

.home:hover{
	font-size: 16pt;
	color: #fed136;
}

.historia:hover{
	font-size: 16pt;
	color: #fed136;
}

.discografia:hover{
	font-size: 16pt;
	color: #fed136;
}

.filmografia:hover{
	font-size: 16pt;
	color: #fed136;
}

.lista{
	margin-top: 20px;
}

.integ{
	margin-top: 20px;
}

#video{
	width: 100%
	padding: 10px;
	margin: 10px;
}

.logo{
	transform: translate(20px,0px); 
}

@media only screen and (max-width: 600px) {
    .vid{
    	width: 100%;
    }
    .integ{
    	flex-wrap: wrap;
    }
  	.discografia-img{
  		flex-wrap: wrap;
  		justify-content: space-around;
  	}
  	.img_lennon, .img_paul{
  		width: 220px;
  	}
}

.titulo-tb{
	margin-top: 15px;
}