#pie{
	color: white;
	display: flex;
	background: black;
}

body{
	margin: 0;
	padding: 0;
	background: #f3de8a;
	font-family: Roboto Mono, Arial;
	font-size: 12pt
}
/*
.tablas{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
*/
.peli_1{
	width: 400px;
	flex-wrap: wrap;
}

.peli_2{
	width: 400px;
	flex-wrap: wrap;
}

.peli_3{
	width: 400px;
	flex-wrap: wrap;
}

.peli_4{
	width: 400px;
	flex-wrap: wrap;
}

.peli_5{
	width: 400px;
	flex-wrap: wrap;
}

.tablas img{
	flex-basis: 20%;
	flex-wrap: wrap;
}

.vid{
	width: 400px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700|Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap');

.derechos{
	flex-basis: 50%;
	text-align: left;
	padding: 9px 10px
}

.iconos{
	text-align: right;
	font-size: 30px;
	flex-basis: 50%;
	justify-content: center;
	align-content: space-around;
}

a:link{
	color: white;
text-decoration: none;
}

a:visited{
text-decoration: none;
color: white;
}

/*.integ{
	display: flex;
	flex-basis: 25%;
	flex-direction: center;
	justify-content: space-between;
}
*/
.lennon{
margin: 5%
}

.paul{
margin: 5%
}

.harrison{
margin: 5%
}

.ringo{
	margin:5%;
	margin-bottom: 22%;
}
.pelis{
	margin-top: 20px
}

div.abbey{
	text-align: center;
}

.abbey2{
	width: 100%;
	margin-top: 20px;
}


.dlogo{
	width: 20%;
}

.logo{
	width: 106px;
}


nav > ul > li{
	list-style: none;
	text-align: center;
	padding-right: 110px;
	flex-basis: 7%;
}

.menu2{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;	
}

.menu{
	width: 100%;
	display: flex;
	background-color: black;
	font-family: Prociono, Arial;
	font-size: 14pt;

}

@keyframes menu{
	0%{font-size: 12pt; color: #fed136};
	25%{color: #fed136};
	75%{color: #fed136};
	100%{font-size: 16pt; color: #fed136};
	background-color: black;
}

.integrantes:hover{
	animation-name: menu;
	animation-duration: 1s;
	font-size: 16pt;
	transform-origin: bottom, top;
	color: #fed136;
}

.home:hover{
	animation-name: menu;
	animation-duration: 1s;
	font-size: 16pt;
	color: #fed136;
}


.historia:hover{
	animation-name: menu;
	animation-duration: 1s;
	font-size: 16pt;
	color: #fed136;
}

.discografia:hover{
	animation-name: menu;
	animation-duration: 1s;
	font-size: 16pt;
	color: #fed136;
}

.filmografia:hover{
	animation-name: menu;
	animation-duration: 1s;
	font-size: 16pt;
	color: #fed136;
}

.lista{
	margin-top: 20px;
}

.integ{
	margin-top: 20px;
}

#video{
	width: 100%
	padding: 10px;
	margin: 10px;
}

.logo{
	transform: translate(20px,0px); 
}



@media only screen and (max-width: 600px) {

    .vid{
    	width: 100%;
    }
    .integ{
    	flex-wrap: wrap;
    }
  	.tablas{
  		flex-wrap: wrap;
  		justify-content: space-around;
  	}
}







