.formulario{
	width: 100%
	border-radius: 20px
	padding-left: 210px;
	background: linear-gradient(to top, #ffc16d, #f3de8a);
}


@media only screen and (max-width: 320px) {
  body {
  	.formulario{
  		padding: 0;
  	}
  }
}
