.formulario{
	font-family: Roboto Mono, Arial;
	font-size: 12pt
	width: 100%
	border-radius: 20px
	padding-left: 210px;
	background: linear-gradient(to top, #ffc16d, #f3de8a);
}


@media only screen and (max-width: 320px) {
  body {
  	.formulario{
  		padding: 0;
  	}
  }
}
.form-group{
	margin-bottom: 0;
}
.btn-primary, .btn-secondary{
	border-radius: 5px;
}
form{
	padding: 20px;
}

.legend{
	font-size: 12pt;
	font-style: italic;
}

.video-home{
	text-align: left;
	border-radius: 10px;
}

.seleccionable{
	border-radius: 10px;
}

div.abbey{
	text-align: center;
}

.abbey2{
	width: 100%;
}


