.img-container {
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  position: relative; 
}

.img-container p {
  margin: auto;  
  color: #fff;
  text-align: center;
  line-height: 90px;
  background: #000;
  transition: opacity .4s linear;
  cursor: pointer;  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover p {
  opacity: .75;  
}


.discografia-img{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-container{
  flex-basis: 33%;
}

.discografia-img{
  flex-wrap: wrap;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .img-container{
    flex-basis: 50%;
  }
  .img-container p{
    line-height: 40px;
  }
  .indicadores{
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .img-container p{
    line-height: 40px;
  }
}


.lennon p{
  text-align: center;
}

.paul p{
  text-align: center;
}

.harrison p{
  text-align: center;
}

.ringo p{
  text-align: center;
}

#pie{
  margin-top: 10px;
}